.checkbox {
  display: inline-flex;
}

.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  visibility: hidden;
  outline: none;
}

.checkbox .checkbox-check {
  position: relative;
  width: 22px;
  height: 22px;
}

.checkbox .checkbox-check:before {
  content: '';
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  position: absolute;
  border: 1px solid var(--uiFormColor);
  background-color: transparent;
  border-radius: 50%;
  transition: 0.2s background-color;
}

.checkbox input:checked + .checkbox-check:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../imgs/check.svg);
  background-size: cover;
}

.checkbox input:checked + .checkbox-check:before {
  border-color: var(--hightlightColor);
  background-color: var(--hightlightColor);
}
