.gpsStatus {
    display: flex;
    align-items: center;
    align-content: space-between;
}

.gpsStatus-accuracy {
    flex: 1;
}

.gpsStatus--invalidAccuracy .gpsStatus-accuracy {
    color: red;
}

.gpsStatus-indicator {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid silver;
    box-shadow: 0 0 3px black;
    position: relative;
    margin-right: 4px;
    background-color: silver;
}

.gpsStatus-indicator::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 8px;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    background-color: white;
    transform: rotateZ(-30deg);
    opacity: 0.8;
}

.gpsStatus--active .gpsStatus-indicator {
    background-color: green;
    /* animation: activeGpsLed 2s infinite; */
}

@keyframes activeGpsLed {
  0%    { background-color: green }
  50%   { background-color: lightGreen; }
  100%  { background-color: green }
}
