.gpsStatus {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid silver;
    box-shadow: 0 0 3px black;
    position: relative;
    margin-right: 4px;
}

.gpsStatus::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 10px;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background-color: white;
    transform: rotateZ(-30deg);
    opacity: 0.8;
}

.gpsStatus--inactive {
    background-color: silver;
}

.gpsStatus--active {
    background-color: green;
    animation: activeGpsLed 2s infinite;
}

@keyframes activeGpsLed {
  0%    { background-color: green }
  50%   { background-color: lightGreen; }
  100%  { background-color: green }
}
