body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.trackSummary {
}

.mapContainer {
    height: 300px;
}

header {
    background-color: black;
    padding: 0.5rem;
    color: white;
    font-size: 2em;
}

main {
    padding: 0.5em;
}
