* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul, li {
    list-style: none;
    padding: 0;
}

.trackList li:not(:last-child) {
    border-bottom: 1px solid #EEE;
}

.trackSummary {
    padding: 0.5em 0;
}

.mapContainer {
    height: 300px;
}

header {
    background-color: black;
    padding: 0.5rem;
    color: white;
    font-size: 2em;
    box-shadow: 0 0 5px #888;
}

header button {
    background-color: transparent;
    border: none;
    color: white;
    vertical-align: middle;
}

button.mainAction {
    box-shadow: 0 0 5px #888;
    position: absolute;
    right: 24px;
    bottom: 24px;
}

main {
    padding: 0.5em;
}

button {
    padding: 0.5em;
    background-color: #EEE;
    border-radius: 3px;
    border: 1px solid #CCC;
}

fieldset {
    border: none;
}

legend {
    background-color: #EEE;
    display: block;
    width: 100%;
    padding: 0.1em 0;
}
