* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul, li {
    list-style: none;
    padding: 0;
}

.trackList li:not(:last-child) {
    border-bottom: 1px solid #EEE;
}

.trackSummary {
    padding: 0.5em 0;
}

.mapContainer {
    height: 300px;
}

.padding {
    padding: 0.5em;
}

main {
    padding-top: 48px;
}

.pageHeader {
    background-color: black;
    padding: 0.5rem 0;
    color: #EEE;
    box-shadow: 0 0 5px #888;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    position: fixed;
}

.pageHeader h1 {
    font-size: 1.8em;
    font-weight: normal;
    flex-grow: 1;
}

.pageHeader button {
    background-color: transparent;
    border: none;
    color: #EEE;
    vertical-align: middle;
}

.pageHeader .pageHeader-left {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 32px;
}

.pageHeader .pageHeader-right {

}

input[type=checkbox],
input[type=radio] {
    margin-right: 0.25em;
}

label {
    margin-right: 1em;
}

button.mainAction {
    box-shadow: 0 0 5px #888;
    position: fixed;
    right: 24px;
    bottom: 24px;
}

button {
    padding: 0.5em;
    background-color: #EEE;
    border-radius: 3px;
    border: 1px solid #CCC;
}

fieldset {
    border: none;
    margin-bottom: 1em;
}

legend {
    background-color: #EEE;
    color: #888;
    display: block;
    width: 100%;
    padding: 0.25em;
}

.helpMsg {
    font-style: italic;
}
